<?xml version="1.0" encoding="utf-8"?>
<Content Key="d5d8b49a-918a-4596-b93b-cfd166f4c0f3" Alias="X" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/X</Path>
    <Trashed>false</Trashed>
    <ContentType>test</ContentType>
    <CreateDate>2025-12-07T21:00:10</CreateDate>
    <NodeName Default="X" />
    <SortOrder>0</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="60ec517c-4ec1-4af2-91ed-da1caf32420a">Test</Template>
  </Info>
  <Properties>
    <testNext>
      <Value><![CDATA[x]]></Value>
    </testNext>
  </Properties>
</Content>