<?xml version="1.0" encoding="utf-8"?>
<DataType Key="2f6d29b2-31f5-41f2-98ad-1b0cfac236fd" Alias="hello - further more - Email" Level="1">
  <Info>
    <Name>hello - further more - Email</Name>
    <EditorAlias>Umbraco.EmailAddress</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.EmailAddress</EditorUIAlias>
  </Info>
  <Config><![CDATA[{
  "inputType": "email"
}]]></Config>
</DataType>