<?xml version="1.0" encoding="utf-8"?>
<DataType Key="ceae7800-970f-4fb9-ae5c-b2f454e248fb" Alias="Home Page New - First - Text Box" Level="1">
  <Info>
    <Name>Home Page New - First - Text Box</Name>
    <EditorAlias>Umbraco.TextBox</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.TextBox</EditorUIAlias>
  </Info>
  <Config><![CDATA[{
  "inputType": "text",
  "maxChars": 512
}]]></Config>
</DataType>