<?xml version="1.0" encoding="utf-8"?>
<DataType Key="19bd4fd4-eee0-46f5-81f2-1ce83a88f582" Alias="Home - Nested - Block List" Level="1">
  <Info>
    <Name>Home - Nested - Block List</Name>
    <EditorAlias>Umbraco.BlockList</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.BlockList</EditorUIAlias>
  </Info>
  <Config><![CDATA[{
  "blocks": [
    {
      "contentElementTypeKey": "3e2bacfe-37e9-4ee6-9313-b0f8ab65de91"
    }
  ]
}]]></Config>
</DataType>