<?xml version="1.0" encoding="utf-8"?>
<DataType Key="4305bd1c-3e23-4a55-94fc-ec361359644c" Alias="Home - Grid - Block Grid" Level="1">
  <Info>
    <Name>Home - Grid - Block Grid</Name>
    <EditorAlias>Umbraco.BlockGrid</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.BlockGrid</EditorUIAlias>
  </Info>
  <Config><![CDATA[{
  "blocks": [
    {
      "contentElementTypeKey": "48f21423-7c0f-4a68-bbde-d23378af87a9",
      "allowAtRoot": true,
      "allowInAreas": true
    }
  ],
  "gridColumns": 12
}]]></Config>
</DataType>