<?xml version="1.0" encoding="utf-8"?>
<DataType Key="ce59dbbd-8ad0-44d8-bc94-3b21bf2c66a5" Alias="Home Page New - Second - Toggle" Level="1">
  <Info>
    <Name>Home Page New - Second - Toggle</Name>
    <EditorAlias>Umbraco.TrueFalse</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.Toggle</EditorUIAlias>
  </Info>
  <Config><![CDATA[{}]]></Config>
</DataType>