<?xml version="1.0" encoding="utf-8"?>
<DataType Key="aaa1045c-1e9a-446b-8391-b942eef6f006" Alias="testing grid - first - Decimal" Level="1">
  <Info>
    <Name>testing grid - first - Decimal</Name>
    <EditorAlias>Umbraco.Decimal</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.Decimal</EditorUIAlias>
  </Info>
  <Config><![CDATA[{
  "step": "0.01"
}]]></Config>
</DataType>