<?xml version="1.0" encoding="utf-8"?>
<Content Key="945eae3b-e5a5-4560-a9da-671cbc47d3f8" Alias="Home" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/Home</Path>
    <Trashed>false</Trashed>
    <ContentType>home</ContentType>
    <CreateDate>2025-12-17T11:01:22</CreateDate>
    <NodeName Default="Home" />
    <SortOrder>0</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <firstProperty>
      <Value><![CDATA[test]]></Value>
    </firstProperty>
    <secondProperty>
      <Value><![CDATA[0]]></Value>
    </secondProperty>
    <thirdProperty>
      <Value><![CDATA[]]></Value>
    </thirdProperty>
  </Properties>
</Content>