<?xml version="1.0" encoding="utf-8"?>
<Content Key="30d96fac-e3a8-4e23-8295-027acf8296e0" Alias="Test" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/Test</Path>
    <Trashed>false</Trashed>
    <ContentType>test</ContentType>
    <CreateDate>2025-12-17T11:08:32</CreateDate>
    <NodeName Default="Test" />
    <SortOrder>1</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <leftText>
      <Value><![CDATA[{
  "blocks": {
    "contentData": [],
    "settingsData": [],
    "expose": [],
    "Layout": {}
  },
  "markup": "\u003Cp\u003Etest\u003C/p\u003E"
}]]></Value>
    </leftText>
    <rightImage>
      <Value><![CDATA[]]></Value>
    </rightImage>
    <rightText>
      <Value><![CDATA[{
  "blocks": {
    "contentData": [],
    "settingsData": [],
    "expose": [],
    "Layout": {}
  },
  "markup": "\u003Cp\u003Etext\u003C/p\u003E"
}]]></Value>
    </rightText>
    <splitType>
      <Value><![CDATA[[
  "Left"
]]]></Value>
    </splitType>
  </Properties>
</Content>