<?xml version="1.0" encoding="utf-8"?>
<Content Key="c776fa36-6b1d-42d8-bb7b-ce603de7c627" Alias="Test" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/Test</Path>
    <Trashed>false</Trashed>
    <ContentType>home</ContentType>
    <CreateDate>2025-12-23T10:02:48</CreateDate>
    <NodeName Default="Test" />
    <SortOrder>0</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <first>
      <Value><![CDATA[test]]></Value>
    </first>
    <nested>
      <Value><![CDATA[]]></Value>
    </nested>
    <second>
      <Value><![CDATA[1]]></Value>
    </second>
  </Properties>
</Content>